{%load static%}
<!DOCTYPE html>
<html>
    <head> 
        <title>Sign_Up</title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/sign_up.css'%}" />
        <script src="{% static 'js/signup.js' %}"></script>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-image: url("{%static 'image/loginImage.jpg' %}");
    }
        </style>
        
    </head>
    <body>
    <form method="POST" id="signupform">
        {% csrf_token %}
        <h2>Sign up</h2>
            <div>
            <input type="text" id="userN" name="username"  required placeholder="Username *" autofocus >
            </div>
            <div>
                <p id="u"></p>
            </div>
            <div>
                <input type="password" id="passd1" name="pass" required placeholder="Password *" required minlength="2" maxlength="15" onkeyup="check_pass()">
            </div>
            <div>
                <p id="p"></p>
            </div>
            <div>
                <input type="password" id="passd2" name="pass1" required placeholder="Confirm Password *" required minlength="2" maxlength="15" onkeyup="check_pass()">
            </div>
            <div>
                <p id="m"></p>
            </div>
            <div>
                <input type="email" id="email" name="email" required placeholder="Email *" required onkeyup="check_email()">
                
            </div>
            <div>
                <p id="e"></p>
            </div>
        <div class="as" title="Click here if you want to sign up as admin">
            <input type="checkbox"  id="_admin" name="_as" title="">
            <label class="check">Sign Up As Admin:</label>

        </div>
        <div>
            <a href="/login/">
                <button type="submit" id="submit-btn" >Sign Up</button>
            </a>
        </div>
    </form>
</html>